body{
    background-color: #c0c0c0;
}

header{
    background-color: azure;
    height: 100px;
}

footer{
    text-align: center;
    clear:both;
}

.title{
    text-align: center;

}
.login, .register{
    float: right;
}






