body{
    background-color: #c0c0c0;
}

footer{
    text-align: center;
    clear:both;
}

.title{
    float: left;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.login, .register{
    float: right;
    margin-top: 20px;
}



